.navegations-left {
    position: fixed;
    width: 220px;
    background: black;
    height: 100vh;
    top: 0;
}

.content {
    width: 100%;
    padding-left: 225px;
    display: block;
}

.navegations-left img { 
    margin: 0 auto;
    width: 80%;
    display: block;
    margin-top: 30px;
}
.navegations-left a {
    color: white;
    font-size: 20px;
    padding: 5px 15px;
}